
@import url("https://fonts.googleapis.com/css?family=Arial|Roboto");
@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/container.css");
body {
font-family: 'Arial', sans-serif; background-color: rgb (240,240,240) ;
margin:0px;
}
h1, h2, h3{
font-family: "Roboto, Helvetica", sans-serif;
}
