
.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    border: 2px solid #fff;
}

.avatar img {
    width: 100%;
    height: auto;
}
